<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Login</h1>
<form  data-th-object="${user}"
       data-th-action="@{/user/login}"
       method="post">
    <div>
        <label for="Mail">Mail</label>
        <input id="Mail" type="email"
               data-th-field="*{mail}">
        <p data-th-if="${#fields.hasErrors('Mail')}"
           data-th-text="${#strings.listJoin(#fields.errors('Mail'), ', ')}"></p>
    </div>
    <div>
        <label for="pwd">Mot de passe</label>
        <input id="pwd" type="password"
               data-th-field="*{pwd}">
        <p data-th-if="${#fields.hasErrors('pwd')}"
           data-th-text="${#strings.listJoin(#fields.errors('pwd'), ', ')}"></p>
    </div>
    <button type="submit">Login</button>
</form>
</body>
</html>