<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  data-th-object="${product}"
       data-th-action="@{/admin/product/update}"
      method="post">
  <input id="id" type="number" data-th-field="*{id}">
  <div>
    <label for="Name">Name</label>
    <input id="Name" type="text"
           data-th-field="*{name}">
  </div>
  <div>
    <label for="Description">Description</label>
    <input id="Description" type="text"
           data-th-field="*{description}">
  </div>
  <div>
    <label for="Image">Image</label>
    <input id="Image" type="text"
           data-th-field="*{image}">
  </div>
  <div>
    <label for="Prix">Prix</label>
    <input id="Prix" type="number" step="0.01"
           data-th-field="*{price}">
  </div>
  <div>
    <label for="Categorie">Category</label>
    <select id="Categorie" name="Categorie" data-th-field="*{category}">
      <option data-th-each="category : ${categories}"
              data-th-value="${category.id}"
              data-th-text="${category.name}"
      >
    </select>
  </div>
  <button type="submit">MODIFIER</button>
</form>
</body>
</html>