<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  data-th-object="${product}"
       data-th-action="@{/product/tyme/add}"
      method="post">
  <div>
    <label for="Name">Name</label>
    <input id="Name" type="text"
           data-th-field="*{name}">
    <p data-th-if="${#fields.hasErrors('Name')}"
       data-th-text="${#strings.listJoin(#fields.errors('Name'), ', ')}"></p>
  </div>
  <div>
    <label for="Description">Description</label>
    <input id="Description" type="text"
           data-th-field="*{description}">
    <p data-th-if="${#fields.hasErrors('Description')}"
        data-th-text="${#strings.listJoin(#fields.errors('Description'), ', ')}"></p>
  </div>
  <div>
    <label for="Image">Image</label>
    <input id="Image" type="text"
           data-th-field="*{image}">
    <p  data-th-if="${#fields.hasErrors('Image')}"
        data-th-text="${#strings.listJoin(#fields.errors('Image'), ', ')}"></p>
  </div>
  <button type="submit">Create user</button>
</form>
</body>
</html>