<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Bonsoir</h1>
<div>
    <a href="" data-th-href="@{/admin/product/add}">AJOUTER</a>
    <div style="display: flex; flex-direction: column">
        <tr data-th-each="product: ${ products }">
            <div>
                <td data-th-text="${ product.name }"></td>
                <td data-th-text="${ product.description }"></td>
                <td data-th-text="${ product.price }"></td>
                <td data-th-text="${ product.image }"></td>
                <td data-th-text="${ product.categorie.nom }"></td>
                <td><a href="" data-th-href="@{/admin/product/update/{id}(id=${product.id})}">UPDATE</a></td>
                <td><a href="" data-th-href="@{/admin/product/delete/{id}(id=${product.id})}">DELETE</a></td>
            </div>
        </tr>
    </div>
</div>
</body>
</html>